*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;  
    
    position: sticky;
    top: 0;
}

nav{
    display: flex;
    gap: 20px;
    
}

.filtros{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}